---
title:           Frequently Asked Questions | CashShuffle
description:     Answers to your questions about the technology and security of CashShuffle.
path:            faqs/
og_img:          opengraph-default.jpg
faqs:            true
---

<div class="faqsBlocks">
  <div class="container">
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">{{ i18n.faqs.overview.title }}</h2>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.overview.question-one }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.overview.answer-one }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.overview.question-two }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.overview.answer-two }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.overview.question-three }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.overview.answer-.p }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.overview.question-four }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.overview.answer-four.p1 }}</p>
        <p>{{ i18n.faqs.overview.answer-four.p2 }}</p>
        <p>{{ i18n.faqs.overview.answer-four.p3 }}</p>
      </div>
    </div>
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">{{ i18n.faqs.security.title }}</h2>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.security.question-one }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.security.answer-one.p1 }}</p>
        <p>{{ i18n.faqs.security.answer-one.p2 }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.security.question-two }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.security.answer-two }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.security.question-three }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.security.answer-three }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.security.question-four }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.security.answer-four }}</p>
      </div>
    </div>
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">{{ i18n.faqs.tech.title }}</h2>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-one }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-one }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-two }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-two }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-three }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-three }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-four }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-four }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-five }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-five }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-six }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-six }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.tech.question-seven }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.tech.answer-seven }}</p>
      </div>
    </div>
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">{{ i18n.faqs.misc.title }}</h2>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.misc.question-one }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.misc.answer-one }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.misc.question-two }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.misc.answer-two }}</p>
      </div>
      <div class="faqs-q">
        <p><span class="leading">Q</span>{{ i18n.faqs.misc.question-three }}</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>{{ i18n.faqs.misc.answer-three }}</p>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#909298"/>
  </svg>
</div>

<script>
  $().ready(function() {
    $('.faqs-q').each(function() {
      var $this = $(this),
          state = false,
          answer = $this.next('.faqs-a').slideUp(150);
      $this.click(function() {
        state = !state;
        answer.slideToggle(state);
        $this.toggleClass('active', state);
      });
    });
  });
</script>
