---
title:           <%= i18n.home.title %>
description:     <%= i18n.home.description %>
path:            
og_img:          opengraph-default.jpg
home:            true
---

<div class="hero">
  <div class="container">
    <img src="{{ img_dir }}hero-home.png" class="img-responsive hero-img">
    <div class="hero-textWrapper">
      <h1 class="hero-heading">{{{ i18n.home.hero.heading }}}</h1>
      <p class="hero-leadText">{{{ i18n.home.hero.text }}}</p>
      <a href="{{ base_dir }}wallets/" class="btn btn-primary hero-btn">{{{ i18n.home.hero.button }}}</a>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#e1e1e1"/>
  </svg>
</div>
<div class="homeFeature overview">
  <div class="container">
    <img src="{{ svg_dir }}home-obfuscate.svg" class="img-responsive homeFeature-img">
    <div class="homeFeature-textWrapper">
      <h2 class="homeFeature-heading">{{{ i18n.home.overview.heading }}}</h2>
      <p class="homeFeature-text">{{{ i18n.home.overview.text }}}</p>
    </div>
  </div>
</div>
<div class="homeFeature easy">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 131" preserveAspectRatio="none" class="bg-curve top">
    <path d="M0 131C101.08 87.8 224.38 51.48 359.5 27.71 466.21 8.93 568.66.02 661.04-1H0v131zM661.04 0c13.2-1 26.19.17 38.96.53V-1h-38.96z" fill="#e1e1e1"/>
  </svg>
  <div class="container">
    <img src="{{ svg_dir }}home-background.svg" class="img-responsive homeFeature-img">
    <div class="homeFeature-textWrapper">
      <h2 class="homeFeature-heading">{{{ i18n.home.easy.heading }}}</h2>
      <p class="homeFeature-text">{{{ i18n.home.easy.text }}}</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#fff"/>
  </svg>
</div>
<div class="homeFeature built-in">
  <div class="container">
    <img src="{{ svg_dir }}home-wallets.svg" class="img-responsive homeFeature-img">
    <div class="homeFeature-textWrapper">
      <h2 class="homeFeature-heading">{{{ i18n.home.builtin.heading }}}</h2>
      <p class="homeFeature-text">{{{ i18n.home.builtin.text }}}</p>
    </div>
  </div>
</div>
<div class="homeAction">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 131" preserveAspectRatio="none" class="bg-curve top">
    <path d="M0 131C101.08 87.8 224.38 51.48 359.5 27.71 466.21 8.93 568.66.02 661.04-1H0v131zM661.04 0c13.2-1 26.19.17 38.96.53V-1h-38.96z" fill="#fff"/>
  </svg>
  <div class="homeAction-textWrapper">
    <h3 class="homeAction-leadText">{{{ i18n.home.action.heading }}}</h3>
    <a href="{{ base_dir }}wallets/" class="btn btn-primary homeAction-btn">{{{ i18n.home.action.button }}}</a>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#909298"/>
  </svg>
</div>