---
title:           CashShuffle Quickstart Guide
description:     Start shuffling your Bitcoin Cash in three easy steps.
path:            quickstart/
og_img:          opengraph-default.jpg
quickstart:      true
---

<div class="hero">
  <div class="container">
    <img src="{{ svg_dir }}hero-quickstart.svg" class="img-responsive hero-img">
    <div class="hero-textWrapper">
      <h1 class="hero-heading">Start shuffling your Bitcoin Cash in three easy steps</h1>
      <p class="hero-leadText">{{ i18n.quickstart.hero.text }}</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#e1e1e1"/>
  </svg>
</div>

<div class="imgCards quickstartSteps">
  <div class="container">
    <div class="imgCard-wrapper imgCard-rightAlign">
      <div class="imgCard-img">
        <img src="{{ img_dir }}quickstart-step-1.png" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">1. Download Electron Cash</h3>
      <p class="imgCard-leadText">CashShuffle is currently built into the Windows, Mac OSX and Linux versions of the popular open-source wallet Electron Cash.</p>
      <a href="https://electroncash.org/" role="button" class="btn btn-primary" target="_blank">Download Now</a>
      </div>
    </div>
    <div class="imgCard-wrapper">
      <div class="imgCard-img">
        <img src="{{ img_dir }}quickstart-step-2.png" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">2. Enable CashShuffle</h3>
      <p class="imgCard-leadText">Click the CashShuffle icon in the lower right corner to enable it. CashShuffle runs in the background and ensures you only spend shuffled (private) coins. It is intended to stay enabled for the lifetime of your wallet, preserving your privacy for all transactions.</p>
      </div>
    </div>
    <div class="imgCard-wrapper imgCard-rightAlign">
      <div class="imgCard-img">
        <img src="{{ img_dir }}quickstart-step-3.png" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">3. Spend your shuffled coins</h3>
      <p class="imgCard-leadText">As your coins are shuffled they will appear in the "shuffled available" section and can be spent whenever you like. The wallet will limit you to spending shuffled coins to make sure your privacy is always respected.</p>
      </div>
    </div>
  </div>
</div>

<div class="quickstartVideo">
  <div class="quickstartVideo-wrapper">
    <h3 class="quickstartVideo-heading">See it in Action</h3>
    <p class="quickstartVideo-text">Here's a quick two-minute video showing CashShuffle in action.</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IJlAas387SE" allowfullscreen=""></iframe>
  </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#909298"/>
  </svg>
</div>
