---
title:           <%= i18n.quickstart.title %>
description:     <%= i18n.quickstart.description %>
path:            quickstart/
og_img:          opengraph-default.jpg
quickstart:      true
---

<div class="hero">
  <div class="container">
    <img src="{{ svg_dir }}hero-quickstart.svg" class="img-responsive hero-img">
    <div class="hero-textWrapper">
      <h1 class="hero-heading">{{{ i18n.quickstart.hero.heading }}}</h1>
      <p class="hero-leadText">{{{ i18n.quickstart.hero.text }}}</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#e1e1e1"/>
  </svg>
</div>

<div class="imgCards quickstartSteps">
  <div class="container">
    <div class="imgCard-wrapper imgCard-rightAlign">
      <div class="imgCard-img">
        <img src="{{ img_dir }}quickstart-step-1.png" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">{{{ i18n.quickstart.step-one.heading }}}</h3>
      <p class="imgCard-leadText">{{{ i18n.quickstart.step-one.text }}}</p>
      <a href="https://electroncash.org/" role="button" class="btn btn-primary" target="_blank">
        {{ i18n.quickstart.step-one.button }}
      </a>
      </div>
    </div>
    <div class="imgCard-wrapper">
      <div class="imgCard-img">
        <img src="{{ img_dir }}quickstart-step-2.png" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">{{{ i18n.quickstart.step-two.heading }}}</h3>
      <p class="imgCard-leadText">{{{ i18n.quickstart.step-two.text }}}</p>
      </div>
    </div>
    <div class="imgCard-wrapper imgCard-rightAlign">
      <div class="imgCard-img">
        <img src="{{ img_dir }}quickstart-step-3.png" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">{{{ i18n.quickstart.step-three.heading }}}</h3>
      <p class="imgCard-leadText">{{{ i18n.quickstart.step-three.text }}}</p>
      </div>
    </div>
  </div>
</div>

<div class="quickstartVideo">
  <div class="quickstartVideo-wrapper">
    <h3 class="quickstartVideo-heading">{{{ i18n.quickstart.video.heading }}}</h3>
    <p class="quickstartVideo-text">{{{ i18n.quickstart.video.text }}}</p>
    <a role="button" class="btn btn-secondary" id="modal-video"
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
  </svg>
</div>