---
title:           <%= i18n.wallets.title %>
description:     <%= i18n.wallets.description %>
path:            wallets/
og_img:          opengraph-default.jpg
wallets:         true
---

<div class="hero alternate">
  <div class="container">
    <img src="{{ svg_dir }}hero-wallets.svg" class="img-responsive hero-img">
    <div class="hero-textWrapper">
      <h1 class="hero-heading">{{ i18n.wallets.hero.heading }}</h1>
      <p class="hero-leadText">{{ i18n.wallets.hero.text }}</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#e1e1e1" transform="translate(700, 0) scale(-1, 1)" />
  </svg>
</div>
<div class="imgCards">
  <div class="container">
    <div class="imgCard-wrapper imgCard-rightAlign">
      <div class="imgCard-img">
        <img src="{{ img_dir }}wallet-electron.jpg" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">{{ i18n.wallets.electron.heading }}</h3>
      <p class="imgCard-leadText">{{ i18n.wallets.electron.text }}</p>
      <a href="https://electroncash.org/" role="button" class="btn btn-primary" target="_blank">{{ i18n.wallets.electron.button }}</a>
      </div>
    </div>
    <h2 class="walletsDev-heading">{{ i18n.wallets.in-development }}</h2>
    <div class="imgCard-wrapper coming-soon">
      <div class="imgCard-img">
        <img src="{{ img_dir }}wallet-bitcoin.jpg" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">{{ i18n.wallets.bitcoin-com.heading }}</h3>
      <p class="imgCard-leadText">{{ i18n.wallets.bitcoin-com.text }}</p>
      <a href="https://wallet.bitcoin.com/" role="button" class="btn btn-primary disabled" target="_blank">{{ i18n.wallets.bitcoin-com.button }}</a>
      </div>
    </div>
    <div class="imgCard-wrapper imgCard-rightAlign coming-soon">
      <div class="imgCard-img">
        <img src="{{ img_dir }}wallet-badger.jpg" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">{{ i18n.wallets.badger.heading }}</h3>
      <p class="imgCard-leadText">{{ i18n.wallets.badger.text }}</p>
      <a href="https://badger.bitcoin.com/" role="button" class="btn btn-primary disabled" target="_blank">{{ i18n.wallets.badger.button }}</a>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#909298"/>
  </svg>
</div>
