<!-- Footer -->
<footer>
  <div class="footerMenuItems">
    <div class="container">
      <div class="footerMenuItem">
        <a href="{{ base_dir }}" class="footerMenuItem-link">
          <img src="{{ svg_dir }}ico-home.svg" class="footerMenuItem-icon">
          <h4 class="footerMenuItem-heading">{{ i18n.nav.home }}</h4>
        </a>
      </div>
      <div class="footerMenuItem">
        <a href="{{ base_dir }}wallets/" class="footerMenuItem-link">
          <img src="{{ svg_dir }}ico-wallet.svg" class="footerMenuItem-icon">
          <h4 class="footerMenuItem-heading">{{ i18n.nav.wallets }}</h4>
        </a>
      </div>
      <div class="footerMenuItem">
        <a href="{{ base_dir }}quickstart/" class="footerMenuItem-link">
          <img src="{{ svg_dir }}ico-play.svg" class="footerMenuItem-icon">
          <h4 class="footerMenuItem-heading">{{ i18n.nav.quickstart }}</h4>
        </a>
      </div>
      <div class="footerMenuItem">
        <a href="{{ base_dir }}faqs/" class="footerMenuItem-link">
          <img src="{{ svg_dir }}ico-question.svg" class="footerMenuItem-icon">
          <h4 class="footerMenuItem-heading">{{ i18n.nav.faqs }}</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="footerCodes">
    <div class="container">
      <div class="footerCode">
        <a href="https://github.com/Electron-Cash/Electron-Cash" target="_blank" class="footerCode-link">
          <img src="{{ svg_dir }}ico-github.svg" class="footerCode-icon">
          <h4 class="footerCode-heading">{{{ i18n.footer.client.title }}} <img src="{{ svg_dir }}extlink-footer.svg" class="footer-extLink"></h4>
          <p class="footerCode-text">{{{ i18n.footer.client.description }}}</p>
        </a>
      </div>
      <div class="footerCode">
        <a href="https://github.com/cashshuffle/cashshuffle" target="_blank" class="footerCode-link">
          <img src="{{ svg_dir }}ico-github.svg" class="footerCode-icon">
          <h4 class="footerCode-heading">{{{ i18n.footer.server.title }}} <img src="{{ svg_dir }}extlink-footer.svg" class="footer-extLink"></h4>
          <p class="footerCode-text">{{{ i18n.footer.server.description }}}</p>
        </a>
      </div>
      <div class="footerCode">
        <a href="https://github.com/Electron-Cash/Electron-Cash/wiki/Cashshuffle-Documentation" target="_blank" class="footerCode-link">
          <img src="{{ svg_dir }}ico-docs.svg" class="footerCode-icon">
          <h4 class="footerCode-heading">{{{ i18n.footer.docs.title }}} <img src="{{ svg_dir }}extlink-footer.svg" class="footer-extLink"></h4>
          <p class="footerCode-text">{{{ i18n.footer.docs.description }}}</p>
        </a>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="container">
      <p class="footerBottom-copyright">{{{ i18n.footer.copyright }}}</p>
      <a role="button" class="modal-open footerBottom-i18nSelectLink">
        <p class="footerBottom-i18nSelect">
          <img src="{{ svg_dir }}ico-i18n-footer.svg" alt="" class="footerBottom-i18nSelectIcon">
          {{{ i18n.lang.display }}}
        </p>
      </a>
    </div>
  </div>
</footer>
